<!DOCTYPE html>

<head>
    <title>HOME PAGE GOES HERE</title>
</head>

<body>
  <h2>HOME PAGE GOES HERE</h2>  
<a class="txt2" href="/login">
    GO TO LOGIN PAGE
</a>
<br>
<br>
<a class="txt2" href="/login">
    Create Account
</a>

</body>

</html>