<!DOCTYPE html>

<head>
    <title>HOME PAGE GOES HERE</title>
</head>

<body>
  <h1 align="center">HOME PAGE GOES HERE</h1>  
<a class="txt1" href="/login">
    <h2>GO TO LOGIN PAGE </h2>
</a>
<br>
<br>
<a class="txt1" href="/login">
   <h2> Create Account </h2>
</a>

</body>

</html>