<html>

<head>

    <title>Chicago Crime database</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        
        var apiData = [];

            $.get("https://data.cityofchicago.org/resource/crimes.json",
                function (e) {
                    $.each(e, function (i, v) {
                        //data.addRows([v.case_number]);
                        apiData.push([v.case_number, v.primary_type, v.description, v.ward, v.district, v.arrest, v.year]);

                    }); // end of the callback function and parameter list for $.each
                }); //  end of the callback function and parameter list for $.get 
        
        google.charts.load('current', { 'packages': ['table'] });
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Case Number');
            data.addColumn('string', 'Primary Type');
            data.addColumn('string', 'Description');
            data.addColumn('string', 'Ward');
            data.addColumn('string', 'District');
            data.addColumn('boolean', 'Arrest');
            data.addColumn('string', 'Year');

            
            //console.log([tempData]);
            data.addRows(apiData);
            

            var table = new google.visualization.Table(document.getElementById('table_div'));

            table.draw(data, { showRowNumber: false, width: '100%', height: '100%' });
        }
    </script>
</head>

<body>   
               
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                            <li>
                                <a href="#">And a submenu &hellip;</a>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Phasellus consequat</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam dolore nisl</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="/table">Table</a></li>
                    <li><a href="/createaccount">Create Account</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
    <div><p>.  </p> 
    </div>
    
    <div id="table_div"></div>
    
</body>

</html>